<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:fragment="title">自己紹介アプリ</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">初めてのポートフォリオ用のWEBアプリ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/introduce}">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user_transition}" th:if="${authentication == null or !authentication.isAuthenticated()}">ユーザ登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/keyword}" th:if="${authentication != null and communityName!='' }">キーワード検索</a>         
      	</li>
        <li class="nav-item" th:if="${authentication != null and authentication.isAuthenticated()}">
          <a class="nav-link" th:href="@{/user/user_transition}">ユーザ名変更</a>
        </li>
        
        <li class="nav-item" th:if="${authentication != null and authentication.isAuthenticated()}">
           <form th:action="@{/logout}" method="post" name="logout">
           		<a class="nav-link" href="#" onclick="sendLogout()">ログアウト</a>
    		</form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script th:fragment="sendLogout">
	function sendLogout() {
        document.logout.submit();
    }
</script>

</body>
</html>