<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ログインユーザ情報変更画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

	<nav th:replace="common/layout :: nav"></nav>
	<script th:replace="common/layout :: sendLogout"></script>
  	  	
  	<div class="container mt-5">
    	<div class="row justify-content-center">
        	<div class="col-md-6">
            	<div class="card">
                	<div class="card-header">
                    	<h4 class="mb-0">ユーザ情報変更</h4>
                	</div>
                	<div class="card-body">
                    	<form th:action="@{/user/edit}" th:method="post" th:object="${userForm}">                        	
                        	<div class="form-group mb-1">
                        	    <label for="username">ユーザ名</label>
            					<input type="text" class="form-control" th:field="${userForm.name}" id="username" placeholder="変更ネーム入力してください">
                        	</div>
                        	                        	
                        	<div class="form-group mb-2">
                        	    <label for="password">パスワード</label>
            					<input type="password" class="form-control" th:field="${userForm.password}" id="password" placeholder="変更パスワードを入力してください">
                        	</div>
                        	
                        	<button type="submit" id="loginBtn" class="btn btn-primary">変更</button>
                    	</form>
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>